html {
	min-height: 100%;
	min-width: 1150px;
	position: relative;
	overflow: auto; 
	top: 0; 
	bottom: 0;
	left: 0; 
	right: 0;
}

body {
	margin: 0;
	min-width: 1150px;
	min-height: 100%;
	background-color: rgba(239, 133, 11,0.8);
}

.page-wrap {
	min-height: 100%;
	margin-bottom: -52px;
	overflow: auto;
}

.container {
	margin:0 150px;
	min-width: 1100px;
}

footer {
	width: 100%;
	background-color: rgba(0,138,152,0.8);
	color: white;	
	min-width: 1150px;
	height: 50px;
	border-top: 2px solid rgb(0,100,109);
}