.navbar {
	height: 50px;
	background: rgba(255,255,255,0.9);
	margin-bottom: 30px;
	border-bottom: 2px solid rgb(0,100,109);
}

#navbar-img {
	height: 40px;
	border-radius: 5px;
	margin-top: 5px;
}

#img-link {
	float: left;
}

#welcome-navbar {
	float: right;
	margin-top: 15px;
	text-decoration: none;
	color:rgb(0,100,109);
}

/*--- Menu Lateral ---*/

.menu {
	float:left;
	width:25%;
	background:rgba(0,138,152,0.8);
	text-align:center;
	font-size:1.1em;
	border-radius: 10px;
}

.menu ul {
	list-style-type: none;
	padding:0;
	margin:0;
}

.first{
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
}

.menu ul li {
	padding:15px 0;
	border-top:2px solid rgb(0,100,109);
	border-right:2px solid rgb(0,100,109);
	border-left:2px solid rgb(0,100,109);
	color:white;
	cursor:pointer;
}

.menu ul li:hover {
	-webkit-transition: all 500ms ease;
	-moz-transition: all 500ms ease;
	-ms-transition: all 500ms ease;
	-o-transition: all 500ms ease;
	transition: all 500ms ease;
	background:rgba(239, 133, 11,0.8);
}

.menu a {
	text-decoration:none;
	width:100%;
}

.hdn {
	display:none;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
}

.menu .hdn li {
	padding:10px 0;
	border-top:2px solid rgb(0,100,109);
	border-right:2px solid rgb(0,100,109);
	border-left:2px solid rgb(0,100,109);
	color: rgb(0,100,109);
	background: rgba(255,255,255,0.9);
}

.menu .hdn {
	background:white;
	/*font-size:0.9em;*/
}

.last {
	border-bottom: 2px solid rgb(0,100,109);
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}

/*-----------------*/

/*--- Tela Principal ---*/
.main {
	width:70%;
	min-height:50%;
	background: rgba(255,255,255,0.9);
	float: right;
	border:2px solid rgb(0,100,109);
	border-radius: 10px;
}

.wrap-txt {
	margin:30px;
	color:rgb(0,100,109);
}

.menu {
	margin-bottom:60px;
}

/*-----------------------*/
