.consultar-form-div {
	margin-bottom: 10px;
	overflow:auto;
}

.consultar-form-input {
	display: block;

	padding: 2.5px;
	width: 100%;

	border-radius: 4px;
	font-size: 11px;
	margin-top: 5px;
}

#consultarButtonDiv {
	margin: 0;
	margin-right: 0;
	margin-top: 10px;
	height: 45px;
	float: right;
}

#consultarButton {
	padding: 10px;
	border: 1px solid black;
	border-radius: 5px;
	background-color: rgba(200,200,200,0.5);
}

#consultarButton:hover {
	cursor: pointer;
	background-color: rgba(200,200,200,0.8);
}

#tabela-interna,
#tabela-externa, 
#tabela-institucional {
	border-collapse:collapse;
	background: white;
}

td, th {
	border:1px solid rgb(54,160,150);
	padding:10px 30px;
}

.tabela-linha:hover {
	background: rgb(200,200,200);
	cursor: pointer;
}

th {
	background: rgb(29, 84, 79);
	color: white;
	padding: 10px 5px;
}

#dropdown {
	background: white;
	border: 1px solid black;
	border-radius: 5px;
	padding: 10px;
	list-style: none;
	color: blue;
	position: absolute;
}

#editarLink, #removerLink {
	text-decoration: none;
	font-style: none;
	color: rgb(100,100,100);
}

#editarLink:hover, #removerLink:hover {
	color: black;
}

#modalEditarEvento {
	position: fixed;
	top: 0;
	margin-top: 30px;
	padding: 10px 20px;
	min-width: 450px;

	border-radius: 5px;

	background: white;
	color: black;
	border: 1px solid black;
}

#modalEditarEvento h1 {
	background: rgb(29, 84, 79);
	color: white;
	margin: 0;
	margin: -10px -20px;
	margin-bottom: 5px;
	font-size: 24px;
	padding: 10px;
}

.editar-form-div {
	margin-bottom: 10px;
}

.editar-form-input {
	display: block;
	padding: 2.5px;
	width: 100%;
	border-radius: 4px;
	font-size: 11px;
	margin-top: 5px;
}

#editarButtonDiv {
	margin: 0;
	margin-right: 25px;
	margin-top: 25px;
	height: 45px;
	float: right;
}

#editarButton {
	padding: 10px;
	border: 1px solid black;
	border-radius: 5px;
	background-color: rgba(200,200,200,0.5);
}

#editarButton:hover {
	cursor: pointer;
	background-color: rgba(200,200,200,0.8);
}