.cadastrar-form-div {
	margin-bottom: 10px;
}

.cadastrar-form-input {
	display: block;
	padding: 2.5px;
	width: 100%;
	border-radius: 4px;
	font-size: 11px;
	margin-top: 5px;
}

#inputRealizada {
	display: block;
}

#cadastrarButtonDiv {
	margin: 0;
	margin-right: 25px;
	margin-top: 25px;
	height: 45px;
	float: right;
}

#cadastrarButton {
	padding: 10px;
	border: 1px solid black;
	border-radius: 5px;
	background-color: rgba(200,200,200,0.5);
}

#cadastrarButton:hover {
	cursor: pointer;
	background-color: rgba(200,200,200,0.8);
}

.col1 {
	width:40%;
	margin-right:20%;
	float:left;
}

.col2 {
	float:left;
	width:40%;
}

@media (max-width:1000px) {
	.col1, .col2 {
		float:none;
		width:100%;
	}
}