form {
	margin: 0;
}

#cadastrarSetor {
	background: white;
	min-width: 250px;
	padding: 20px;
	float: left;
	border-radius: 5px;
	border: 1px solid rgb(0,100,109);
	margin-right: 40px;
}

.cadastrar-form-div {
	margin-bottom: 10px;
}

.cadastrar-form-input {
	display: block;
	padding: 2.5px;
	width: 100%;
	border-radius: 4px;
	font-size: 11px;
	margin-top: 5px;
}

.buttonDiv {
	margin: 0;
	margin-right: 0;
	margin-top:40px;
	float: right;
}

.button {
	padding: 10px;
	border: 1px solid black;
	border-radius: 5px;
	height: 30px;
	background-color: rgba(200,200,200,0.5);
}

#removerSetor {
	background: white;
	min-width: 250px;
	padding: 20px;
	float: left;
	border-radius: 5px;
	border: 1px solid rgb(0,100,109);
}

.button:hover {
	cursor: pointer;
	background-color: rgba(200,200,200,0.8);
}

#cadastrarTitulo, #removerTitulo {
	margin: 0;
	margin-bottom: 10px;
}
