<html>
	<head>
		<meta http-equiv="Content-type" content="text/html"/>
		<meta charset="utf-8"/> 
		{% load staticfiles %}

		<title>{% block title %}Politiquê?{% endblock %}</title>

		<link rel="stylesheet" href="{% static 'css/baseStyle.css' %}" type="text/css"/>
		<link rel="stylesheet" href="{% static 'css/baseInternaStyle.css' %}" type="text/css"/>

		{% block css %}
		{% endblock %}
	</head>
	<body>

		<div class="navbar">
			<div class="container">
				<a id="img-link" href="{% url 'perfil' %}"><img id="navbar-img" src="{% static 'img/politique-logo.jpg' %}"/></a>
				<button id="logoutBtn" href="{% url 'home' %}"><img id="logoutImg" src="{% static 'img/logout.png' %}"></button>
				<a id="welcome-navbar" href="{% url 'perfil' %}">Olá, Fulano!</a>
			</div>
		</div>

		<div class="container">		

			<div class="menu">
				<ul>
					<li id="first">Menu</li>
					<a href="#"><li>Setores</li></a>
					<li class="btn-show">Cadastrar</li>
					<div class="hdn">
						<a href="#"><li>Cadastrar Iniciativa</li></a>
						<a href="#"><li>Cadastrar Evento</li></a>
						<a href="#"><li>Cadastrar Empresa</li></a>
						<a href="#"><li>Cadastrar Membro</li></a>
					</div>
					<li class="last consulta btn-show">Consultar</li>
					<div class="hdn">
						<a href="#"><li>Consulta Genérica</li></a>
						<a href="#"><li>Consultar Iniciativa</li></a>
						<a href="#"><li>Consultar Evento</li></a>
						<a href="#"><li>Consultar Empresa</li></a>
						<a href="#"><li class="last">Consultar Membro</li></a>
					</div>
				</ul>
			</div>

			<div class="main">
				<div class="wrap-txt">
					<h1 class="main-title">{% block main-title %}{% endblock %}</h1>
					{% block body %}
					{% endblock %}
				</div>
			</div>
		</div>		
		<footer>

			<div id="footer" class="container">

			</div>

		</footer>

		<script src="{% static 'js/jquery-1.11.1.min.js' %}"></script>
		<script src="{% static 'js/main.js' %}"></script>
		{% block scripts %}
		{% endblock %}

	</body>

</html>