<html>
	<head>
		<meta http-equiv="Content-type" content="text/html"/>
		<meta charset="utf-8"/> 
		{% load staticfiles %}

		<title>{% block title %}Politiquê?{% endblock %}</title>

		<link rel="stylesheet" href="{% static 'css/baseStyle.css' %}" type="text/css"/>

		{% block css %}
		{% endblock %}
	</head>
	<body>

		<div class="container">
			{% block body %}
			{% endblock %}
		</div>		

	<footer>

		<div id="footer" class="container">

		</div>

	</footer>	
		{% block scripts %}
		{% endblock %}
	</body>
</html>