{% extends "baseInterna.html" %}

{% load staticfiles %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/consultarIniciativaStyle.css' %}">
{% endblock %}

{% block main-title %}
Consultar Membro
{% endblock %}

{% block body %}

{% if form.errors %}
<div id="form-error">
	<p>The operation could not be performed because one or more error(s) occurred.<br />Please resubmit the form after making the following changes:</p>
	<ul>
		{% for field in form %}
		<li> {{ field.name }} {{ field.errors|striptags }}</li>
		{% endfor %}
	</ul>
</div>
{% endif %}

<form id="consultarIniciativa-form" action="{%url 'ConsultarMembro'%}" method="post"> <!-- action correto? -->
	{% csrf_token %}

	<div class="atualizar-form-div">
		<label for="inputMembroVar">Variável</label><br />
		<select name="inputMembroVar">
			{% for instance in membros|slice:"1" %}
				{% for field, value in instance.fields.items %}
				<option value="{{field}}">{{field}}</option>
				{% endfor %}
				{% endfor %}
		</select>
	</div>

	<div class="atualizar-form-div">
		<label for="inputNome">Pesquisa</label>
		<input type="text" name="first_name" id="inputNome" class="atualizar-form-input" placeholder="">
	</div>

	<div class="atualizar-form-div">
				<table>
			<tr>
				{% for instance in membros|slice:"1" %}
				{% for field, value in instance.fields.items %}
				<th>{{field}}</th>
				{% endfor %}
				{% endfor %}
			</tr>

		{% for instance in membros %}
		<tr>
		{% for field, value in instance.fields.items %}
		<td>{{ value }}</td>
		{% endfor %}
	</tr>
		{% endfor %}
	</table>
	</div>

	<div id="atualizarButtonDiv" class="atualizar-form-div">
		<input id="atualizarButton" type="submit" value="Consultar">
	</div>

</form>

{% endblock %}

{% block scripts %}
{% endblock %}