{% extends "baseInterna.html" %}

{% load staticfiles %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/consultarEmpresaStyle.css' %}">
{% endblock %}

{% block main-title %}
Consultar Empresas
{% endblock %}

{% block body %}

{% if form.errors %}
<div id="form-error">
	<p>The operation could not be performed because one or more error(s) occurred.<br />Please resubmit the form after making the following changes:</p>
	<ul>
		{% for field in form %}
		<li> {{ field.name }} {{ field.errors|striptags }}</li>
		{% endfor %}
	</ul>
</div>
{% endif %}

<!-- Modal editar Empresa -->
<div id="modalEditarEmpresa" hidden>

	<h1>Editar Membro</h1>
	<form action="#" method="POST" id="editarForm">
		{% csrf_token %}
	<div class="editar-form-div">
		<label for="inputNome">Nome</label>
		<input type="text" name="nome" id="inputNome" class="editar-form-input" placeholder="">
	</div>

	<div class="editar-form-div">
		<label for="inputRamo">Ramo de atuação</label>
		<input type="text" name="ramoAtuacao" id="inputRamo" class="editar-form-input" placeholder="">
	</div>

	<div class="editar-form-div">
		<label for="inputBackground">Background</label>
		<input type="text" name="background" id="inputBackground" class="editar-form-input" placeholder="">
	</div>

	<div class="editar-form-div">
		<label for="inputApoios">Apoios</label>
		<input type="text" name="apoios" id="inputApoios" class="editar-form-input" placeholder="">
	</div>

	<div class="editar-form-div">
		<label for="inputProposta">Proposta de apoio</label><br />
		<input type="text" name="propostaApoio" id="inputProposta" class="editar-form-input" placeholder="">
	</div>

	<div class="editar-form-div">
		<label for="tipoParceria">Tipo de Parceria</label><br />
		{{ form.tipoParceria }}
	</div>

	<div class="editar-form-div">
		<label for="iniciativas">Iniciativas</label><br />
		{{ form.iniciativas }}
	</div>

		<div id="editarButtonDiv" class="editar-form-div">
			<input id="editarButton" type="submit" value="Editar">
		</div>
	</form>				
</div><!-- /.modal -->

<form id="consultarIniciativa-form" action="{%url 'ConsultarEmpresa'%}" method="post"> <!-- action correto? -->
	{% csrf_token %}

	<div class="consultar-form-div">
		<label for="inputEmpresasVar">Variável</label><br />
		<select name="inputEmpresasVar" id="cmb-variavel">
			{% for instance in empresas|slice:"1" %}
				{% for field, value in instance.fields.items %}
				<option value="{{field}}">{{field}}</option>
				{% endfor %}
				{% endfor %}
		</select>
	</div>

	<div class="consultar-form-div">
		<label for="inputNome">Pesquisa</label>
		<input type="text" name="first_name" id="inputPesquisa" class="consultar-form-input" placeholder="">
	</div>

	<div class="consultar-form-div">
				<table id="tabela">
			<tr>
				{% for instance in empresas|slice:"1" %}
				{% for field, value in instance.fields.items %}
				<th>{{field}}</th>
				{% endfor %}
				{% endfor %}
			</tr>

		{% for instance in empresas %}
			<tr onclick="ClickHandler(this, '{{instance.pk}}', '{{ csrf_token }}', event, '{% url 'RemoverEmpresa' instance.pk %}', '{% url 'EditarEmpresa' instance.pk %}')" class="tabela-linha">
		{% for field, value in instance.fields.items %}
		<td class="{{field}}">{{ value }}</td>
		{% endfor %}
	</tr>
		{% endfor %}
	</table>
	</div>

	<ul id="dropdown" role="menu" hidden aria-labelledby="menuitems">
		<li><a href="#" data-toggle="modal" id="editarLink" onclick="showModal()">Editar Empresa</a></li>
		<li><a href="#" id="removerLink">Remover Empresa</a></li>
	</ul>

</form>

{% endblock %}

{% block scripts %}

<script src="{% static 'js/consultarEmpresaJS.js' %}"></script>

{% endblock %}