{% extends "baseInterna.html" %}

{% load staticfiles %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/consultarEventoStyle.css' %}">
{% endblock %}

{% block main-title %}
Consultar Evento
{% endblock %}

{% block body %}

{% if form.errors %}
<div id="form-error">
	<p>The operation could not be performed because one or more error(s) occurred.<br />Please resubmit the form after making the following changes:</p>
	<ul>
		{% for field in form %}
		<li> {{ field.name }} {{ field.errors|striptags }}</li>
		{% endfor %}
	</ul>
</div>
{% endif %}

<form id="consultarIniciativa-form" action="{%url 'ConsultarEvento'%}" method="post"> <!-- action correto? -->
	{% csrf_token %}

	<div class="consultar-form-div">
		<label for="inputEventosVar">Variável</label><br />
		<select name="inputEventosVar">
			{% for instance in eventos|slice:"1" %}
				{% for field, value in instance.fields.items %}
				<option value="{{field}}">{{field}}</option>
				{% endfor %}
				{% endfor %}
		</select>
	</div>
	<div class="consultar-form-div">
		<label for="cmbBoxEvento">Tipo de Evento</label><br />
		<select id="cmbBoxEvento" name="tipoEvento">
		  	<option value="1">Capacitação Interna</option>
		  	<option value="2">Capacitação Externa</option>
		  	<option value="3">Evento Institucional</option>
		</select>
	</div>

	<div class="consultar-form-div">
		<label for="inputNome">Pesquisa</label>
		<input type="text" name="first_name" id="inputNome" class="consultar-form-input" placeholder="">
	</div>

	<div class="consultar-form-div">
		<table hidden id="tabela-interna">
			<tr>
				{% for instance in eventos1|slice:"1" %}
				{% for field, value in instance.fields.items %}
				<th>{{field}}</th>
				{% endfor %}
				{% endfor %}
			</tr>

			{% for instance in eventos1 %}
			<tr class="tabela-linha">
				{% for field, value in instance.fields.items %}
				<td>{{ value }}</td>
				{% endfor %}
			</tr>
				{% endfor %}
		</table>
	</div>

	<div class="consultar-form-div">
		<table hidden id="tabela-externa">
			<tr>
				{% for instance in eventos2|slice:"1" %}
				{% for field, value in instance.fields.items %}
				<th>{{field}}</th>
				{% endfor %}
				{% endfor %}
			</tr>

			{% for instance in eventos2 %}
			<tr class="tabela-linha">
				{% for field, value in instance.fields.items %}
				<td>{{ value }}</td>
				{% endfor %}
			</tr>
				{% endfor %}
		</table>
	</div>

	<div class="consultar-form-div">
		<table hidden id="tabela-institucional">
			<tr>
				{% for instance in eventos3|slice:"1" %}
				{% for field, value in instance.fields.items %}
				<th>{{field}}</th>
				{% endfor %}
				{% endfor %}
			</tr>

			{% for instance in eventos3 %}
			<tr class="tabela-linha">
				{% for field, value in instance.fields.items %}
				<td>{{ value }}</td>
				{% endfor %}
			</tr>
				{% endfor %}
		</table>
	</div>

	<div id="consultarButtonDiv" class="consultar-form-div">
		<input id="consultarButton" type="submit" value="Consultar">
	</div>

</form>

{% endblock %}

{% block scripts %}
<script src="{% static 'js/consultarEvento.js' %}"></script>
{% endblock %}