{% extends "baseInterna.html" %}

{% load staticfiles %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/setoresStyle.css' %}">
{% endblock %}

{% block main-title %}
Setores
{% endblock %}

{% block body %}

{% if form.errors %}
<div id="form-error">
	<p>The operation could not be performed because one or more error(s) occurred.<br />Please resubmit the form after making the following changes:</p>
	<ul>
		{% for field in form %}
		<li> {{ field.name }} {{ field.errors|striptags }}</li>
		{% endfor %}
	</ul>
</div>
{% endif %}

<div id="cadastrarSetor">
	<h2 id="cadastrarTitulo">Cadastrar setor</h2>	

	<form id = "cadastrarSetor" action ="{%url 'CadastrarSetor'%}" method="post">

		{% csrf_token %}
		<div class="cadastrar-form-div">
			<label for="inputNome">Nome</label>
			<input type="text" name="nome" id="inputNome" class="cadastrar-form-input" placeholder="">
		</div>

		<div class="cadastrar-form-div">
			<label for="inputPermissao">Permissão</label><br />
			<select name="permissao">
				<option value="1">Editar e Remover</option>
				<option value="2">Editar</option>
				<option value="3">Visualizar</option>
			</select>
		</div>

		<div id="cadastrarSetorDiv" class="buttonDiv cadastrar-form-div">
			<input id="cadastrarButton" type="submit" value="Cadastrar" onclick="clicked();">
		</div>

	</form> 

</div>

<div id="removerSetor">

	<h2 id="removerTitulo">Remover setor</h2>
	
	<form id = "removerSetor" action ="{%url 'RemoverSetor'%}" method="post">
		{% csrf_token %}
		<div class="cadastrar-form-div">
			<label for="inputSetor">Setor</label><br/>
			<select name="removeSetor">
				{% for instance in setores %}
				{% for field, value in instance.fields.items %}
				<option value="{{value}}">{{ value }}</option>
				{% endfor %}
				{% endfor %}
			</select>
		</div>

		<div id="removerSetorDiv" class="buttonDiv cadastrar-form-div">
			<input id="removerButton" type="submit" value="Remover">
		</div>
	</form>
	
</div>
{% endblock %}

{% block scripts %}
{% endblock %}